# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\myDoc\视频\React.js+Egg.js开发全栈开发旅游电商应用\资料\react_egg-master\react_egg\8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
